h2 {
  font-size: 2rem;
}

.container-cart {
  display: flex;
}

.container-itens {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 70%;
}

.container-order {
  width: 35%;
}

.checkout-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.titles {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-bottom: 1px solid #e8e8e8;
}

.titles > span {
  padding: 10px 50px;
}
